# Database
database.json
.database.json.tmp

# Session
session.data.json

# Node modules
node_modules

# Package lock for node.js older version
package-lock.json

# config.json after configuration
config.json

# newUser after configuration
newUser
